# Database
DATABASE_URL=

# Auth.js
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Apple OAuth
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

# Resend
RESEND_API_KEY=
EMAIL_FROM=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# M-Pesa (mock na v1)
MPESA_API_KEY=
MPESA_BASE_URL=
MPESA_WEBHOOK_SECRET=

# e-Mola (mock na v1)
EMOLA_API_KEY=
EMOLA_BASE_URL=
EMOLA_WEBHOOK_SECRET=

# App
NEXT_PUBLIC_APP_URL=
PLATFORM_FEE_PERCENT=7.5
